<form
	id="newebpay"
	name="Newebpay"
	action="<%= model.PayGateWay %>"
	method="POST"
	hidden
>
	<input type="text" name="MerchantID" value="<%= model.MerchantID %>" />
	<input type="text" name="TradeInfo" value="<%= model.TradeInfo %>" />
	<input type="text" name="TradeSha" value="<%= model.TradeSha %>" />
	<input type="text" name="Version" value="<%= model.Version %>" />
</form>

<script>
	var form = document.querySelector('#newebpay');
	form.submit();
</script>
